<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_lectures">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Lectures">
        <activity
            android:name=".L6_FileDownloadOnBackgroundAsyncTask"
            android:exported="true" />
        <activity
            android:name=".L5_AsyncTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".L4_RecyclerView"
            android:exported="true" />
        <activity
            android:name=".L3_IntentTransfer"
            android:exported="true" />
        <activity
            android:name=".L3_CustomGridView"
            android:exported="true"></activity>
        <activity
            android:name=".L2_CustomListViewUsingArrayAdapter"
            android:exported="true" />
        <activity
            android:name=".L1_CustomListView"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>